<a href="https://colab.research.google.com/github/JoskyPon/AI_in_PD/blob/main/%D0%9F%D1%80%D0%B0%D0%BA%D1%82%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B0%D1%8F_%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B0_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Практическая работа 4. Данные в формате CSV

ФИО: **Подгайный Александр Александрович**

Группа: **ПИН-б-о-22-1**

## Задание

В файле p4_data_23.csv содержатся сведения о производстве товаров работниками
(ID, сотрудник, категория товара, з/п рабочего, количество
произведенных товаров, цена за единицу товара).
1. Определите сколько рабочих получают меньше, чем вырабатывают
продукции.
2. Количество единиц произведенной продукции без категории.
3. Суммарный объем в валюте произведенной продукции по каждой из
4-х категорий.
4. Самый неэффективный сотрудник: с минимальной разницей между
произведенным продуктом и зарплатой.

Выполнение задания

In [2]:
!wget https://raw.githubusercontent.com/enikolaev/IT-and-Programming/main/data/pract4/p4_data_23.csv

--2024-10-17 15:54:05--  https://raw.githubusercontent.com/enikolaev/IT-and-Programming/main/data/pract4/p4_data_23.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 46430 (45K) [text/plain]
Saving to: ‘p4_data_23.csv’

p4_data_23.csv      100%[===================>]  45.34K  --.-KB/s    in 0.01s

2024-10-17 15:54:05 (4.08 MB/s) - ‘p4_data_23.csv’ saved [46430/46430]

In [3]:
F=open('p4_data_23.csv')
n_to_print=10
for line in F:
  n_to_print-=1
  if n_to_print>0:
    print(line)

ID,Name,Category,Salary,Count,Price

90-1634534,Toinette Glencrash,A,$860.44,28,$1.35

34-5872839,Ban Branford,A,$905.99,24,$3.69

58-2779834,Dora Cotta,B,$350.53,45,$38.00

95-7538777,Piper Salatino,A,$994.16,31,$8.36

04-5580973,Renata Nealon,D,$897.74,48,$3.19

70-6304241,Dulce Nerheny,B,$642.22,6,$22.14

42-0065280,Crystie Pedrozzi,,$791.97,35,$15.87

53-3706440,Lenore Brumpton,C,$982.22,29,$7.52

In [4]:
F=open('p4_data_23.csv')
header = F.readline().strip().split(',')
print(header)
print('-'*20)
n_to_print=10
for line in F:
  # производим обработку в любом случае ...
  data = line.strip().split(',')
  # ... аа печатаем только первые n_to_print
  n_to_print-=1
  if n_to_print>0:
    print(data)

['ID', 'Name', 'Category', 'Salary', 'Count', 'Price']
--------------------
['90-1634534', 'Toinette Glencrash', 'A', '$860.44', '28', '$1.35']
['34-5872839', 'Ban Branford', 'A', '$905.99', '24', '$3.69']
['58-2779834', 'Dora Cotta', 'B', '$350.53', '45', '$38.00']
['95-7538777', 'Piper Salatino', 'A', '$994.16', '31', '$8.36']
['04-5580973', 'Renata Nealon', 'D', '$897.74', '48', '$3.19']
['70-6304241', 'Dulce Nerheny', 'B', '$642.22', '6', '$22.14']
['42-0065280', 'Crystie Pedrozzi', '', '$791.97', '35', '$15.87']
['53-3706440', 'Lenore Brumpton', 'C', '$982.22', '29', '$7.52']
['43-8488790', 'Josiah Cona', 'D', '$578.96', '45', '$46.15']

In [5]:
# Доработаем предыдущий скрипт
F=open('p4_data_23.csv')
header = F.readline().strip().split(',')

# список всех работников
all_stuff=[]

for line in F:
  data = line.strip().split(',')
  stuff = {} # создаем пустой словарь
  for i, key in enumerate(header): # обходим все заголовки
    stuff[key] = data[i] # добавляем в словарь клюс:значение

  # некоторые значения придется конвертировать к подходящим типам
  stuff['Salary'] = float(stuff['Salary'][1:])
  stuff['Price'] = float(stuff['Price'][1:])

  all_stuff.append(stuff) # добавляем клиента в скписок

print(all_stuff[:10]) # напечатаем первых 10 клиентов

F.close() # файл больше не нужен

[{'ID': '90-1634534', 'Name': 'Toinette Glencrash', 'Category': 'A', 'Salary': 860.44, 'Count': '28', 'Price': 1.35}, {'ID': '34-5872839', 'Name': 'Ban Branford', 'Category': 'A', 'Salary': 905.99, 'Count': '24', 'Price': 3.69}, {'ID': '58-2779834', 'Name': 'Dora Cotta', 'Category': 'B', 'Salary': 350.53, 'Count': '45', 'Price': 38.0}, {'ID': '95-7538777', 'Name': 'Piper Salatino', 'Category': 'A', 'Salary': 994.16, 'Count': '31', 'Price': 8.36}, {'ID': '04-5580973', 'Name': 'Renata Nealon', 'Category': 'D', 'Salary': 897.74, 'Count': '48', 'Price': 3.19}, {'ID': '70-6304241', 'Name': 'Dulce Nerheny', 'Category': 'B', 'Salary': 642.22, 'Count': '6', 'Price': 22.14}, {'ID': '42-0065280', 'Name': 'Crystie Pedrozzi', 'Category': '', 'Salary': 791.97, 'Count': '35', 'Price': 15.87}, {'ID': '53-3706440', 'Name': 'Lenore Brumpton', 'Category': 'C', 'Salary': 982.22, 'Count': '29', 'Price': 7.52}, {'ID': '43-8488790', 'Name': 'Josiah Cona', 'Category': 'D', 'Salary': 578.96, 'Count': '45', 'Price': 46.15}, {'ID': '90-0969656', 'Name': 'Ollie Sealand', 'Category': 'D', 'Salary': 626.26, 'Count': '24', 'Price': 39.06}]

In [6]:
#Задание 1

value=0

#stuff['Count'] = int(stuff['Count'])

for stuff in all_stuff:
  if float(stuff['Count']) * stuff['Price'] > stuff['Salary']:
    value += 1

print('Количество рабочих, которые получают меньше, чем вырабатывают продукции: ', value)

Количество рабочих, которые получают меньше, чем вырабатывают продукции:  472

In [7]:
#Задание 2

total_count = 0

for stuff in all_stuff:
  total_count += int(stuff['Count'])

print('Количество произведенной продукции :', total_count)

Количество произведенной продукции : 24600

In [13]:
#Задание 3

total_count_A = 0
total_count_B = 0
total_count_C = 0
total_count_D = 0

for stuff in all_stuff:
  match stuff['Category']:
    case 'A': (total_count_A) += stuff['Price']
    case 'B': (total_count_B) += stuff['Price']
    case 'C': (total_count_C) += stuff['Price']
    case 'D': (total_count_D) += stuff['Price']

print('Суммарный объем в валюте произведенной продукции категории A = ', total_count_A)
print('Суммарный объем в валюте произведенной продукции категории B = ', total_count_B)
print('Суммарный объем в валюте произведенной продукции категории C = ', total_count_C)
print('Суммарный объем в валюте произведенной продукции категории D = ', total_count_D)

Суммарный объем в валюте произведенной продукции категории A =  6150.849999999998
Суммарный объем в валюте произведенной продукции категории B =  5389.5
Суммарный объем в валюте произведенной продукции категории C =  5898.699999999998
Суммарный объем в валюте произведенной продукции категории D =  5875.2800000000025

In [15]:
#Задание 4

target_stuff=[]
min_profit = 0

for stuff in all_stuff:
  if stuff['Salary'] - float(stuff['Count']) * stuff['Price'] > min_profit and stuff['Salary'] - float(stuff['Count']) * stuff['Price'] > 0:
    min_profit = stuff['Salary'] - float(stuff['Count']) * stuff['Price']
    target_stuff = stuff

print('Самый неэффективный сотрудник', target_stuff)

Самый неэффективный сотрудник {'ID': '78-1250127', 'Name': 'Cecil Robens', 'Category': 'C', 'Salary': 986.95, 'Count': '1', 'Price': 2.62}

# Контрольные вопросы

Ответы на контрольные вопросы также необходимо предоставить в блокноте
Python Notebook:
1. Напишите код для печати суммы элементов списка p:
p = [10, 100, 34, 56, 45, 45]
2. Напишите код для печати количества элементов списка p:
p = [10, 100, 34, 56, 45, 45]
1. Напишите код для печати суммы элементов кратных 7:
p = [10, 100, 35, 34, 56, 45, 45, 21]
4. Напишите код для поиска ключей словаря d, для которых значения
превышают 45:
p = {4:10, 12:100, 35:3, 34:56, 56:11, 45:’abc’}
5. Напишите код, который выводит список, составленный из квадратов чисел
от 1 до 100. Сам список также необходимо сгенерировать.
6. Опишите структуру файла csv. Поясните последовательность действий при
чтении файла csv.